{% extends "index.html" %}
{% block title %}No Search Results{% endblock %}


{% block content %}
<h1>Search Results</h1>
<p><b>Nothing</b> matches what was put into the search bar</p>
<p>It is very likely that this player has no stats as of right now so try again in the future...</p>
<p>If you are <b>certain</b> that you have the correct spelling, try entering different combinations of the player's name</p>
<br>
<p><b>Correct Example: </b></p>
<p>Lebron James</p>
<p>Lebron</p>
<p><b>Incorrect Example: </b></p>
<p>Levron</p>
<br>
<p><b>Disclaimer:</b> The search bar is <b>not</b> case-sensitive</p>
{% endblock %}