{% extends "index.html" %}
{% block title %} Regular Season Statistics | {{name}} {% endblock %}




{% block content %}
{% include "playerhome.html"%}
    <div class="full-width-background fwb-grey">
        <div class = "home-links" id = "all-home-links">
            <div class = "home" id='home-profile'>
                <h3>
                <a href = "{{ url_for('profile', name=name)}}">
                    Profile
                </a>
            </h3>
            </div>

        <br>

        <div class = "home" id='home-career'>
        <h3>
            <a href ="{{ url_for('career_earnings', id=id)}}">
            Earnings</a>
        </h3>
        </div>

        <br>

        <div class = 'home' id = "home-adva">
            <h3>
                <a href ="{{ url_for('advanced_statistics_regular', id=id)}}">
                Advanced Stats
                </a>
            </h3>
        </div>

        <br>

        <div class='home' id = "home-reg">
            <h3>
                <a class = 'current' href ="{{ url_for('regular_stats', id=id)}}">
                    Reg. Season Stats
                </a>
            </h3>
        </div>

        <br>

        <div class = 'home'id = "home-last">
        <h3>
            <a href ="{{ url_for('playoff_stats', id=id)}}">
                Playoff Stats
            </a>
        </h3>
        </div>
        
        </div>
    </div>

    {% if dict['Season'] %}
        <link rel = 'stylesheet' href= {{url_for('static', filename='css/style.css')}}>
        <div class = 'overview-reg-season'>
            <div class = 'col1-reg'>
                <span>
                    <strong>OVERVIEW</strong>
                </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p><strong>{{dict['Season'][-1]}}</strong></p>
                        <p><strong>Career</strong></p>
                    {% else%}
                        <p><strong>Career</strong></p>
                    {% endif %}
            </div>
        
            <div class = 'col2-reg'>
                <div>
                    <span>
                        <strong>GP</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p>{{dict['GP'][-1]}}</p>
                        <p>{{career['GP'][0]}}</p>
                    {% else %}
                        <p>{{career['GP'][0]}}</p>
                    {% endif %}
                    
                </div>
            </div>

            <div class = 'col3-reg'>
                <div>
                    <span>
                        <strong>GS</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p>{{dict['GS'][-1]}}</p>
                        <p>{{career['GP'][0]}}</p>
                    {% else %}
                        <p>{{career['GP'][0]}}</p>
                    {% endif %}
                </div>
            </div>

            <div class = 'col4-reg'>
                <div>
                    <span>
                        <strong>PTS</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22'%}
                        <p><b>{{dict['PTS'][-1]}}</b></p>
                        <p><b>{{career['PTS'][0]}}</b></p>
                    {% else %}
                        <p>{{career['PTS'][0]}}</p>
                    {% endif %}
                </div>
            </div>

            <div class = 'col5-reg'>
                <div>
                    <span>
                        <strong>TRB</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p>{{dict['REB'][-1]}}</p>
                        <p>{{career['REB'][0]}}</p>
                    {% else %}
                        <p>{{career['REB'][0]}}</p>
                    {% endif %}
                </div>
            </div>

            <div class = 'col6-reg'>
                <div>
                    <span>
                        <strong>AST</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p>{{dict['AST'][-1]}}</p>
                        <p>{{career['AST'][0]}}</p>
                    {% else %}
                        <p>{{career['AST'][0]}}</p>
                    {% endif %}
                </div>
            </div> 

            <div class = 'col7-reg'>
                <div>
                    <span>
                        <strong>FG%</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p>{{dict['FG_PCT'][-1]}}</p>
                        <p>{{career['FG_PCT'][0]}}</p>
                    {% else %}
                        <p>{{career['FG_PCT'][0]}}</p>
                    {% endif %}
                </div>
            </div>

            <div class = 'col8-reg'>
                <div>
                    <span>
                        <strong>3P%</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p>{{dict['FG3_PCT'][-1]}}</p>
                        <p>{{career['FG3_PCT'][0]}}</p>
                    {% else %}
                        <p>{{career['FG3_PCT'][0]}}</p>
                    {% endif %}
                </div>
            </div>

            <div class = 'col9-reg'>
                <div>
                    <span>
                        <strong>FT%</strong>
                    </span>
                    {% if dict["Season"][-1] == '2020-21' or dict["Season"][-1] == '2021-22' %}
                        <p>{{dict['FT_PCT'][-1]}}</p>
                        <p>{{career['FT_PCT'][0]}}</p>
                    {% else %}
                        <p>{{career['FT_PCT'][0]}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <table class="reg-season-table">
            <caption>Per Game Averages</caption>
                <thead>
                    <tr>
                        <th>Season</th>
                        <th>Age</th>
                        <th>Team</th>
                        <th>GP</th>
                        <th>GS</th>
                        <th>Min</th>
                        <th>FGM</th>
                        <th>FGA</th>
                        <th>FG%</th>
                        <th>3PM</th>
                        <th>3PA</th>
                        <th>3P%</th>
                        <th>FTM</th>
                        <th>FTA</th>
                        <th>FT%</th>
                        <th>ORB</th>
                        <th>DRB</th>
                        <th>TRB</th>
                        <th>AST</th>
                        <th>STL</th>
                        <th>BLK</th>
                        <th>TOV</th>
                        <th>PF</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0, dict['Season'] | length)%}
                    <tr>
                        <td>{{dict['Season'][i]}}</td>
                        <td>{{dict['Age'][i]}}</td>
                        <td>{{dict['Team'][i]}}</td>
                        <td>{{dict['GP'][i]}}</td>
                        <td>{{dict['GS'][i]}}</td>
                        <td>{{dict['MP'][i]}}</td>
                        <td>{{dict['FGM'][i]}}</td>
                        <td>{{dict['FGA'][i]}}</td>
                        <td>{{dict['FG_PCT'][i]}}</td>
                        <td>{{dict['FG3M'][i]}}</td>
                        <td>{{dict['FG3A'][i]}}</td>
                        <td>{{dict['FG3_PCT'][i]}}</td>
                        <td>{{dict['FTM'][i]}}</td>
                        <td>{{dict['FTA'][i]}}</td>
                        <td>{{dict['FT_PCT'][i]}}</td>
                        <td>{{dict['OREB'][i]}}</td>
                        <td>{{dict['DREB'][i]}}</td>
                        <td>{{dict['REB'][i]}}</td>
                        <td>{{dict['AST'][i]}}</td>
                        <td>{{dict['STL'][i]}}</td>
                        <td>{{dict['BLK'][i]}}</td>
                        <td>{{dict['TOV'][i]}}</td>
                        <td>{{dict['PF'][i]}}</td>
                        <td>{{dict['PTS'][i]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Career</td>
                        <td></td>
                        <td></td>
                        <td>{{career['GP'][0]}}</td>
                        <td>{{career['GS'][0]}}</td>
                        <td>{{career['MP'][0]}}</td>
                        <td>{{career['FGM'][0]}}</td>
                        <td>{{career['FGA'][0]}}</td>
                        <td>{{career['FG_PCT'][0]}}</td>
                        <td>{{career['FG3M'][0]}}</td>
                        <td>{{career['FG3A'][0]}}</td>
                        <td>{{career['FG3_PCT'][0]}}</td>
                        <td>{{career['FTM'][0]}}</td>
                        <td>{{career['FTA'][0]}}</td>
                        <td>{{career['FT_PCT'][0]}}</td>
                        <td>{{career['OREB'][0]}}</td>
                        <td>{{career['DREB'][0]}}</td>
                        <td>{{career['REB'][0]}}</td>
                        <td>{{career['AST'][0]}}</td>
                        <td>{{career['STL'][0]}}</td>
                        <td>{{career['BLK'][0]}}</td>
                        <td>{{career['TOV'][0]}}</td>
                        <td>{{career['PF'][0]}}</td>
                        <td>{{career['PTS'][0]}}</td>    
                    </tr>
                     
                </tfoot>
        </table>
        <br>
        <br>
    {% else %}
        <h2><b>There were no NBA data/statistics on this player...</b></h2>
    {% endif %}
    
{% endblock %}